<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>My Spring MVC App</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>

<div>
    <h1>PP 3.1.2</h1>
    <p>I'm Spring BOOT / CRUD App</p>
    <p>Kata Academy</p>
    <h2>version 3.0</h2>
    <a href="/users">Go to Users Page</a>
</div>
</body>
</html>